.git
.venv
__pycache__
*.pyc
*.egg-info
.pytest_cache
.ruff_cache
woolfnet/data/mlruns
woolfnet/data/raw
woolfnet/data/cleaned
woolfnet/data/datasets
woolfnet/data/test_data
woolfnet/data/reports
woolfnet/scripts
woolfnet/plans
archived
*.ipynb
.DS_Store
