*.DS_STORE
*.pyc
*.png
*.html
*.gif
*.hdf5
/woolfnet/artifacts
/woolfnet/gpt/artifacts
/woolfnet.egg-info
/woolfnet/**/*.txt
/woolfnet/**/*.pt
/woolfnet/**/*.json
/woolfnet/**/*.yml
/woolfnet/**/*.safetensors
